@charset "UTF-8";

/*표준 글꼴 서식 스타일*/
body {
	font-family: 'NanumGothic', 'MalgunGothic' ; 
	font-size: 12pt;
	color: navy;
}

div#sideinfo { 
	background-color: #1c1c1c;  
    min-height: 600px; 
}
                  
div#maininfo { 
	background-color: #F5F5F5; 
    min-height: 600px; 
    width: 100%;
    padding:0;
}  

div#footer { 
	background-color: #000; 
    /* height: 100px; */ 
    padding:14px 0;
}

div#footer p.footerInfo {font-size:10pt;line-height:2;color:#fff;}

td, th, input, select, textarea, p {
	padding: 0.5%; /* 안쪽 여백 */
}

img { border: 0px; }

/* 표준 링크 스타일 */
a {text-decoration: none !important;}

/* unvisited link */
a:link {color: #005c99;	}

/* visited link */
a:visited {color: #005c99;}

/* mouse over link */
a:hover { 
	color:maroon; 
    font-weight: bold; 
}
          
/* selected link */
a:active { color: navy; }          

.box { border:1px solid navy; }

.box2 { border:1px dotted red; }

table.outline { 
	width: 95%;
	border-top: 4px double navy;
	border-bottom: 4px double navy; 
}
	             
table.outline th {background-color: #e6e6e6;}	             

.error { 
	color: red; 
	padding-left: 10px; 
	margin-bottom: 5px;
}

.bgcol {background-color: LightGray;}
a:visited {color:initial;}

